@{
    ViewBag.Title = "Home Page";
}


        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Paterno</th>
                    <th scope="col">Materno</th>
                    <th scope="col">Ciudad</th>
                    <th scope="col">Genero</th>
                    <th scope="col">Fecha Nacimiento</th>
                    <th scope="col">Curp</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Correo</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in ViewBag.Listado)
                {
                    <tr>
                        <th scope="row">@user.LLAVE_USUARIO</th>
                        <td>@user.NOMBRE</td>
                        <td>@user.PATERNO</td>
                        <td>@user.MATERNO</td>
                        <td>@user.CIUDAD</td>
                        <td>@user.GENERO</td>
                        <td>@user.FECHA_NAC</td>
                        <td>@user.CURP</td>
                        <td>@user.USUARIO</td>
                        <td>@user.EMAIL</td>
                    </tr>
                }
            </tbody>
        </table>
